<h1>Aggiungi Nuovo Prodotto</h1>
<form (ngSubmit)="saveProduct()">
    <div>
        <label>Id:</label>
        <input [(ngModel)]="product.id" name="id" required />
      </div>
  <div>
    <label>Nome:</label>
    <input [(ngModel)]="product.name" name="name" required />
  </div>
  <div>
    <label>Descrizione:</label>
    <input [(ngModel)]="product.description" name="description" required />
  </div>
  <div>
    <label>Prezzo:</label>
    <input type="number" [(ngModel)]="product.price" name="price" required />
  </div>
  <button type="submit">Salva</button>
</form>
