<h1 class="mat-headline-5">Add New Product</h1>

<form (ngSubmit)="saveProduct()" class="product-form">
  <mat-form-field appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="product.id" name="id" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="product.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrizione</mat-label>
    <textarea matInput [(ngModel)]="product.description" name="description" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prezzo</mat-label>
    <input matInput type="number" [(ngModel)]="product.price" name="price" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salva</button>
</form>