<mat-toolbar color="primary" class="header-toolbar">
  <!-- Pulsante Home -->
  <button mat-icon-button [routerLink]="['/']" class="home-button">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Titolo -->
  <span class="header-title">ElasticSearch UI</span>

  <span class="spacer"></span>

  <!-- Pulsanti di navigazione -->
  <button mat-button [routerLink]="['/products']" class="nav-button">
    <mat-icon>list</mat-icon>
    <span>Product</span>
  </button>

  <button mat-button color="accent" [routerLink]="['/add-product']" class="nav-button">
    <mat-icon>add</mat-icon>
    <span>Add Product</span>
  </button>
</mat-toolbar>